# --- IntelliJ IDEA ---
.idea/
*.iml
out/

# --- Eclipse ---
.classpath
.project
.settings/
bin/

# --- NetBeans ---
nbproject/
build/
nbbuild/
dist/

# --- VS Code ---
.vscode/

# --- OS files ---
.DS_Store
Thumbs.db

# --- Java ---
*.class
*.log
*.jar
*.war
*.ear

# --- Stuff ---
notepad.log

# --- Save files ---
saves/**/*
!saves/**/.gitkeep